.list-horizontal li {
	display:inline-block;
  list-style-type: none;
}
.list-horizontal li:before {
	content: '\00a0\2022\00a0\00a0'!important;
	color:#999!important;
	color:rgba(0,0,0,0.5)!important;
	font-size:11px;
}
.list-horizontal li:first-child:before {
	content: ''!important;
}
body {
  /*background-image: url("https://raw.githubusercontent.com/SeemiH/SupaSchedule/master/birch3.jpg");*/
}

.week1:hover {
	background-color: rgb(255, 0, 0);
	box-shadow: 20px 20px 40px rgba(161, 19, 19, 0.7);
	cursor: crosshair;
	opacity: 40%;
}

.week1 {width: 100%;
	display: block;
	margin: 0px;
	border: solid 1px transparent;
	border-radius: 1px;
}
#footer {
	width: 100%;
	background-color: black !important;
	text-align: center;
	color: white !important;
	display: inline-block;
	white-space: nowrap !important;
	font-weight: bold;
}
