.list-horizontal li {
	display:inline-block;
  list-style-type: none;
}
.list-horizontal li:before {
	content: '\00a0\2022\00a0\00a0'!important;
	color:#999!important;
	color:rgba(0,0,0,0.5)!important;
	font-size:11px;
}
.list-horizontal li:first-child:before {
	content: ''!important;
}
body {
background-color: rgba(255, 246, 124, 0.91)!important;
}

.week1:hover {
	background-color: rgb(255, 0, 0);
	box-shadow: 20px 20px 40px rgba(161, 19, 19, 0.7);
	cursor: crosshair;
	opacity: 40%;
	transition: .2s ease-in-out;
}

.week1 {
    width: 300px;
    height: 250px;
    display: block;
    margin: 0px;
    border: solid 1px transparent;
    border-radius: 5px;
}
#footer {
	width: 100% !important;
	background-color: white !important;
	text-align: center;
	color:rgb(108, 108, 108) !important;
	display: inline-block;
	white-space: nowrap !important;
	font-weight: bold;
}
#footer ul li {
    padding: 0 .5em !important;
}
